// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

$icon-size: 40px;
$footer-height: 124px;

html, body, body>.ember-view {
  height: 100%;
}

.full-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height - 20px;
  padding-bottom: $footer-height + 20px;
}



.pointer {
  cursor: pointer;
}
