<div class="full-wrap">


<nav class="pink accent-3">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">{{#link-to 'index'}}Message Board{{/link-to}}</a>
    <ul id="nav-mobile" class="right">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}

</div>

</div>

<footer>

</footer>
